@use '../base/mixins' as mixins;

.productsPage{

    .main-productsPage{
        position: relative;
        display: grid;
        grid-template-rows: auto auto;

        @include mixins.large{
            &{
                grid-template-columns: 0.5fr auto;
                grid-template-rows: auto;
                padding-block: 4rem;
                padding-inline: 2rem;
                gap: 2rem;
            }
        }

        @include mixins.extra-large{
            &{
                padding-inline: 4rem;
            }
        }

        .filter-wrapper{
            position: relative;

            button:hover{
                background-color: #000;
                color: #fff;
                transition: all 0.3s;
            }

            .filter-container{
                position: sticky;
                top: 20%;
                padding: 2rem;
    
                .displayFilterButton{  
                    width: 100%;
                    padding: 0.5rem;
                    font-size: var(--h1-medium-size);
                }
    
                @include mixins.large{
                    &{
                        padding: 1rem 0rem
                    }
                }
            }
        }
    }
}