@use '../base/mixins' as mixins;

.bestSellerCard{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    gap: 0.5rem;
    scroll-snap-align: start;

    .quickAdd-button{
        width: 75%;
        margin: 0 auto;
    
        button{
            width: 100%;
            font-size: var(--h1-medium-size);
            background-color: var(--lessBright-white);
            color: var(--pink);
            border: 2px var(--pink) solid;
            padding-block: 0.5rem;
            transition: 0.3s;

            &:hover{
                color: var(--lessBright-white);
                background-color: var(--pink);
            }
        }
    }

    .bestSeller-name{
        h1{
            text-align: center;
            font-size: var(--h1-large-size);
        }
    }

    .bestSeller-tag{
        position: sticky;
        border-radius: 2rem;
        background-color: var(--pink);
        color: #fff;
        padding: 1rem;
        transform: translateY(calc(50% + 0.5rem));
    }

    .bestSeller-rating,
    .bestSeller-price,
    .bestSeller-tag{
        h3{
            font-size: var(--p-size);
        }
    }

    @include mixins.small-up{
        &{
            width: 50vw;
        }
    }

    @include mixins.large{
        &{
            width: 33vw;
        }
    }

    @include mixins.extra-large{
        &{
            width: 100%;
            max-width: 30rem;
        }
    }
}