@use '../base/mixins' as mixins;

.cart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 20rem;
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 100vh;
    padding: 0.5rem 1rem;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 2;
    font-size: var(--h1-medium-size);

    button,input{
        font-size: var(--p-size);
    }

    .cart-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    };

    .freeShipping{
        meter{
            width: 100%;
        };
    };

    .itemCartCard-Container{
        overflow-y: auto;
        height: 100%;
    };

    .applyCoupon{
        display: flex;
        justify-content: space-between;
        
        input{
            padding: 0.5rem;
        };

        button{
            padding: 0.5rem;
        };
    };

    .subtotal{
        display: flex;
        justify-content: space-between;
    };

    .checkout{

        margin-bottom: 0.5rem;
        button{
            padding: 0.5rem;
            width: 100%;
        };
    };

    @include mixins.extra-large{
        &{
            max-width: 40rem;
        }
    }
};


.cart.displayCart{
    transform: translateX(0%);
    transition: all 0.5s;
}
