.cart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    min-height: 100vh;
    padding: 0.5rem 1rem;
    transform: translateX(100%);
    transition: all 0.5s;

    .cart-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .freeShipping{
        meter{
            width: 100%;
        }
    }

    .itemCartCard-Container{
        overflow-y: auto;
    }

    .applyCoupon{
        display: flex;
        justify-content: space-between;
        
        input{
            padding: 0.5rem;
        }

        button{
            padding: 0.5rem;
        }
    }

    .subtotal{
        display: flex;
        justify-content: space-between;
    }

    .checkout{
        button{
            padding: 0.5rem;
            width: 100%;
        }
    }

}

.cart.displayCart{
    transform: translateX(0%);
    transition: all 0.5s;
}
