.ingredientCard{
    .ingredient-button{
        position: absolute;
        padding: 0.25rem;
        svg{
            font-size: clamp(1.5rem, 2vw, 4rem);
            opacity: 0.6;
        }
    }
}