.ingredient-info{
    display: flex;
    background-color: var(--green);
    opacity: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 100%;
    max-width: 75vw;
    height: 100%;
    max-height: 15rem;
    z-index: 999;
    transform: translate(50%, -50%);
    box-shadow: var(--overlay-shadow);

    svg{
        font-size: clamp(1rem, 3vw, 3rem);
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2rem;
        margin-right: 2rem;
    }

    p{
        font-size: clamp(1rem, 3vw, 3rem);
        margin: 0 auto;
        width: 90%;
    }
}