.ingredientCard{
    position: relative;
    max-width: 60rem;

    .ingredient-button{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25rem;
        svg{
            font-size: clamp(1.5rem, 2vw, 4rem);
            opacity: 0.6;
            color: #fff;
        }
    }

    .ingredient-image{

        img{
            object-fit: cover;
            aspect-ratio: 1/1.25;
            max-height: 48rem;
            height: 100%;
        }
    }
}