@use '../base/mixins' as mixins;

.itemCartCard{
    display: flex;
    padding: 0.5rem 0rem;
    max-height: 12rem;
    width: 100%;
    gap: 0.5rem;
    border-bottom: 1px solid rgba(51,50,50,.2);
    
    .itemCart-image{

        img{
            max-width: 12rem;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    .itemCart-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        font-size: clamp(1.5rem,1.5vw,2.5rem);

        .itemCart-wrap{
            display: flex;
            justify-content: space-between;

            .itemCart-name{
                align-self: center;
            }

            .itemCart-remove{
                svg{
                    opacity: 0.2;
                }
            }

            .itemCart-button{
                display: flex;
                align-items: center;
                gap: 1rem;
    
                svg{
                    opacity: 0.4;
                }
            }

            .itemCart-price{
                align-self: flex-end;
            }
        }
    }

    @include mixins.large{
        &{
            max-height: 15rem;

            .itemCart-image{
                img{
                    max-width: 15rem;
                }
            }
        }
    }
}