.subNavOurStory{
    margin: 0 auto;
    max-width: 90rem;
    max-height: 20rem;
    padding: 0rem 4rem 6.25vw 4rem;

    .subNavOurStory-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 2rem;

        .ourStory{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;

            .ourStory-image{
                height: 15rem;
                img{
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }
            }

            .ourStory-title{

                a{
                    font-size: clamp(1rem, 1.5vw, 1.5rem);
                    text-decoration: none;
                    color: #fff;
                    
                    &:visited{
                        color: #fff;
                    }
                }
            }
        }
    }
}