.subNavOurStory{
    margin: 0 auto;
    max-width: 90rem;
    max-height: 30rem;
    padding: 4rem;

    .subNavOurStory-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 2rem;

        .ourStory{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;

            .ourStory-image{
                height: 20rem;
                img{
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }
            }

            .ourStory-title{
                font-size: clamp(1rem, 1.5vw, 1.5rem);
            }
        }
    }
}