.subNavProducts{
    margin: 0 auto;
    max-width: 90rem;
    max-height: 20rem;
    padding: 0rem 4rem 4rem 4rem;
    z-index: 2;

    .subNavProducts-product{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        gap: 2rem;

        .product{
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 1rem;

            .product-image{
                height: 15rem;

                img{
                    height: 100%;
                    object-fit: cover;

                }
            }

            .product-name{
                font-size: clamp(1rem, 1.5vw, 1.5rem);
            }
        }
    }

}