.mainProductCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--orange);
    color: var(--lessBright-white);

    button{
        padding: 0.5rem;
    }

    .mainProduct-image img{
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1/0.5;
    }
}