.address{

    button:hover{
        background-color: #000;
        color: #fff;
        transition: all 0.3s;
    }

    .address-wrapper{
        display: grid;
        gap: 2rem;
        max-width: 48rem;
        margin: 0 auto;
        padding: 4rem 2rem;
        place-items: center;

        .address-title{
            h1{
                font-size: var(--h1-large-size);
            }
        }

        .return-link{
            text-align: center;

            a{
                font-size: clamp(0.75rem,1vw,1.5rem);
            }
        }

        button{
            padding: 0.5rem 1rem;
            font-size: var(--p-size);
        }

        .addressCard-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-block: 4rem;
        }
    }
}