@use '../base/mixins' as mixins;

.bestSellers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-block: 4rem;
    
    .bestSellers-title{
        text-align: center;
        align-self: center;
        padding: 1rem;
        color: var(--red);

        h1{
            font-size: var(--h1-large-size);
        }
    }

    .bestSellerCard-container{
        display: flex;
        overflow-x: auto;
        width: 100vw;
        align-self: flex-start;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @include mixins.extra-large{
        &{
            .bestSellerCard-container{
                width: unset;
                align-self: unset;
            }
        }
    }
}