footer{
    background-color: var(--red);
    color: var(--lessBright-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem 1rem 1rem;
    gap: 1rem;

    .linkList{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: none;

        li{
            font-size: clamp(1.25rem,2vw,1.75rem);
        }
    }

    .certificate{
        display: flex;
        gap: 1rem;
        padding: 1rem 0rem;

        svg{
            font-size: clamp(2rem,2vw,4rem);
        }
    }

    .socialMedia{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .socialMedia-header{
            h3{
                font-size: clamp(1.25rem,2vw,2rem);
                font-weight: 700;
            }
        }

        .socialMedia-icons{
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            opacity: 0.6;

            svg{
                font-size: clamp(2rem,2vw,4rem);
            }
        }
    }

    .email-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
        gap: 1rem;

        input{
            background-color: transparent;
            text-align: center;
            border: none;
            border-bottom: 2px solid var(--lessBright-white);
            color: var(--lessBright-white);
            font-size: clamp(1.25rem,2vw,1.75rem);

            &::placeholder{
                color: var(--lessBright-white);
            }
        }

        a{
            text-decoration: none;
            font-weight: 700;
            font-size: clamp(1.25rem,2vw,1.75rem);
        }

        h3{
            margin-top: -0.5rem;
            font-size: clamp(1rem,2vw,1.5rem);
        }
    }
}