.ingredients-container{

    background-color: var(--green);
    color: var(--lessBright-white);
    padding: 1rem;

    .ingredients-header{
        h1{
            font-size: clamp(2rem, 2vw, 4rem);
            margin-bottom: 1rem;
        }
    }

    .ingredients-paragraph{
        p{
            font-size: clamp(1rem, 2vw, 1.5rem);
        }
    }

    .ingredientCard-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        padding: 0.5rem;
    }

    .ingredients-link a{
        color: var(--lessBright-white);
        font-size: clamp(1rem, 2vw, 1.5rem);
    }
    
}