@use '../base/mixins' as mixins;

.instagram-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;

    .instagram-image-container{
        display: flex;  
        max-width: 100vw;
        max-height: 48rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar {
            display: none;
        }

        img{
            scroll-snap-align: start;
            object-fit: cover;
        }
    }

    .instagram-link{
        text-align: center;
        padding: 4rem 1rem;

        h1{
            font-size: var(--h1-large-size);
        }

        h3{
            font-size: var(--h1-medium-size);
        }
    }

    @include mixins.medium-up{
        &{
            .instagram-image-container{
                img{
                    max-width: 33.33vw;
                }
            }
        }
    }
}