@use '../base/mixins' as mixins;

.instagram-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink);
    color: var(--lessBright-white);

    .instagram-image-container{
        display: flex;
        max-width: 100vw;
        overflow-x: auto;
    }

    .instagram-link{
        text-align: center;
        padding: 4rem 1rem;

        h1{
            font-size: clamp(2rem,2vw,4rem);
        }

        h3{
            font-size: clamp(1.25rem,2vw,1.5rem);
        }
    }

    @include mixins.medium-up{
        &{
            .instagram-image-container{
                img{
                    max-width: 33.33vw;
                }
            }
        }
    }
}