nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--pink);
    color: var(--lessBright-white);

    .nav-left,.nav-right{
        display: flex;
        gap: 1rem;
        
        svg{
            font-size: 1.5rem;
        }
    }

}
