@use '../base/mixins' as mixins;

.products-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;

    @include mixins.small-up{
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.medium-up{
        &{
            grid-template-columns: repeat(3,1fr);
        }
    }

    @include mixins.large{
        &{
            grid-template-columns: repeat(auto-fit, minmax(18.75rem,auto));
            padding: 0;
            row-gap: 1rem;
        }
    }

    @include mixins.extra-large{
        &{
            grid-template-columns: repeat(auto-fit, minmax(20rem,auto));
            padding: 0;
            row-gap: 1rem;
        }
    }

}
