@use '../base/mixins' as mixins;

.review-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 30rem;

    .review-image{

        img {
            object-fit: cover;
            object-position: 60% 40%;
            aspect-ratio: 1/0.75;
        }
    }

    .review-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        gap: 1rem;

        .review-text-container{
            display: flex;
            height: 100%;
            width: 100%;
            overflow-x: auto;
            scroll-snap-type: x mandatory;

            &::-webkit-scrollbar {
                display: none;
            }
        }


        .review-symbol{
            svg{
                font-size: var(--h1-large-size);
            }
        }
    }

    

    @include mixins.medium-up{

        &{
            flex-direction: row;
            max-width: 90rem;
        }
    }

}