@use '../base/mixins' as mixins;

.findLocation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--red);
    color: var(--lessBright-white);
    padding: 1rem;
    gap: 1rem;

    h1{
        font-size: clamp(2rem, 3vw, 4rem);
    }

    .findLocation-link{
        a{
            color: var(--lessBright-white);
            font-size: clamp(1.25rem, 3vw, 2rem);
        }
    }

    @include mixins.medium-up{
        flex-direction: row;
    }
    
}