@use '../base/mixins' as mixins;

.searchBar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #000;

    input{
        font-size: clamp(1.25rem, 1.5vw, 2rem);
        width: 50vw;
        padding: 0rem 0.5rem;

        &:focus{
            outline: #000;
        }
    }

    svg{
        font-size: clamp(1.25rem, 1.5vw, 2rem);
        color: #fff;
    }

    @include mixins.large{
        &{
            padding: 2rem 1rem;
        }
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}