@use '../base/mixins' as mixins;

.findLocation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 4rem;
    gap: 1rem;

    h1{
        font-size: var(--h1-large-size);
    }

    .findLocation-link{
        a{
            color: #fff;
            font-size: var(--h1-medium-size);
        }
    }
    
}